<div class="container" draggable="false">
    <div class="form-group">
        <label>Contact Name</label>
        <input type="text" class="form-control" placeholder="e.g. John Smith" ng-model="contactRecord.contact.Name">
    </div>
    <div class="form-group">
        <label>Timezone</label>
        <select class="form-control" ng-model="selectedTimeZoneId">
            <option ng-repeat="timezone in timezones" value="{{timezone.Id}}" ng-selected="selectedTimeZoneId == timezone.Id">{{timezone.Name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" ng-model="localDateTime.date" placeholder="dd-MM-yyyy">
    </div>
    <div class="form-group">
        <label>Time</label>
        <input type="number" class="form-control" ng-model="localDateTime.hours">
        <input type="number" class="form-control" ng-model="localDateTime.minutes">
        <select ng-model="localDateTime.meridiem" class="form-control">
            <option value="AM">AM</option>
            <option value="PM">PM</option>
        </select>
    </div>
    <button type="button" class="btn btn-primary">Submit</button>
</div>